- var nav_download_id = "Hotcdl240711-2"
-	var nav_regsiter_id = "Hotcreg240711-2"
-	var nav_login_id = "Hotclg240711-2"
- var sidebar_download_id = "hotcdl240711"
- var sidebar_regsiter_id = "hotcreg240711"
- var nav_version_info = "全新地圖-劍皇的聖地登場！"
- var nav_version_descrip = "同步開放170等級上限！"
- var gtm_id = "GTM-PB58S8"

doctype html
html(lang="zh-TW")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content=`新熱血江湖,新熱血江湖Online,熱血江湖,熱血江湖 Online,熱血江湖2,熱血江湖2Online,熱血,江湖,hot,MangoT5,Mango,新熱血,新江湖,韓飛官,譚花靈,譚花鳳,刀,劍,樂師,醫,斷,大夫,槍,happytuk,MangoT5,封測online,CB遊戲,封測帳號,PVP,重返榮耀,回歸,CB帳號,封閉測試,最新封測遊戲,最近封測遊戲,線上遊戲,免費,online game,好玩遊戲,電玩,遊戲網站,MYCARD,討論網站,武俠遊戲,經典遊戲,熱門遊戲,遊戲,free game,免費遊戲,好玩遊戲,game,online game,角色扮演,3D,下載遊戲,最新遊戲,遊戲論壇,遊戲天堂,RPG,線上,2015,刺激PVP,樂意,樂意傳播,火龍刀,伏魔花靈劍,熱血符,至尊,升天,昇天 ,轉職,一轉,二轉,三轉,四轉,五轉,一階,二階,三階,四階,五階,內掛,環龍,武林,武俠,大俠,門派,盟主,改版,90等,100等,120等,90級,100級,120級`)
		meta(name="description" content=`"${nav_version_descrip}"`)
		title #{nav_version_info}
		//- FB專用標籤設定
		meta(property="og:url" content="https://lucybaby0102.github.io/swordemperor/index.html")
		meta(property="og:type" content="website")
		meta(property="og:title" content=`"${nav_version_info}"`)
		meta(property="og:description" content=`"${nav_version_descrip}"`)
		meta(property="og:image" content="https://landing.mangot5.com/template/hot/event/240711_swordemperor/images/fb.jpg")
		//- End FB專用標籤設定
		link(rel="shortcut icon" href="//landing.mangot5.com/template/happytuk/favicon/favicon.ico")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		//- link(rel="stylesheet" href="css/leaf_ani.css")
		link(rel="stylesheet" href="css/animation.css")
		link(rel="stylesheet" href="css/app.css")
		//- Google Tag Manager
		script.
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js',
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', '#{gtm_id}');
		//- End Google Tag Manager
	body
		//- Google Tag Manager
		noscript: iframe(src=`//www.googletagmanager.com/ns.html?id=${gtm_id}` height="0" width="0" style="display: none; visibility: hidden")
		//- End Google Tag Manager

		//- nav
		include pug/_foundation/_nav.pug

		//- main
		include pug/_component/_main.pug

		//- footer
		include pug/_foundation/_footer.pug

		//- plugins
		script(src="js/jquery-3.4.1.min.js")
		script(src="js/wow.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/bootstrap.bundle.min.js")
		script(src="js/popper.min.js")
		script(src="//landing.mangot5.com/template/lostark/event/nav/js/particles.min.js")
		script(src="js/particlesJS.js")
		script(src="js/common.js")
		script.
			(function (d, s, id) {
				var js,
					fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10';
				fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');      
